<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
		<section class="section">
			<div class="container is-fullwidth">
				<div class="columns is-centered">
					<div class="column is-8">
						<h1 class="title">Task</h1>
						<div class="buttons is-right mt-3">
							<button id="add" class="button is-small is-success mt-2 mb-2">Add</button>
						</div>
					</div>
				</div>
				<div class="columns is-centered">
					<div class="column is-8">
						<table class="table is-stripped is-hoverable is-narrow is-fullwidth">
							<thead>
								<tr>
									<th>Task</th>
									<th>Assign</th>
									<th>Deadline</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Lorem ipsum</td>
									<td>Lorem ipsum</td>
									<td>Lorem ipsum</td>
									<td><span class="tag is-rounded is-small is-success is-light">Done</span></td>
									<td>
										<button class="button is-small is-info">Edit</button>
									</td>
								</tr>
								<tr>
									<td>Lorem ipsum</td>
									<td>Lorem ipsum</td>
									<td>Lorem ipsum</td>
									<td><span class="tag is-rounded is-small is-warning is-light">Mark as Done</span></td>
									<td>
										<button class="button is-small is-info">Edit</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<script>
			document.getElementById('add').addEventListener('click', ()=> {
				window.location = "form.html";
			});
		</script>
  </body>
</html>