<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
		<section class="section">
			<div class="container is-fullwidth">
				<div class="columns is-centered">
					<div class="column is-8">
						<h1 class="title">Task</h1>
						<div class="buttons is-right mt-3">
							<button id="add" class="button is-small is-success mt-2 mb-2">Add</button>
						</div>
					</div>
				</div>
				<div class="columns is-centered">
					<div class="column is-8">
						<table class="table is-stripped is-hoverable is-narrow is-fullwidth">
							<thead>
								<tr>
									<th>Task</th>
									<th>Assign</th>
									<th>Deadline</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#" class="detail-data" data-id="1e4b8eb1-c4c9-4623-9ba0-d7adc23065a1">Lorem ipsum</a></td>
									<td>Lorem ipsum</td>
									<td>Lorem ipsum</td>
									<td><span class="tag is-rounded is-small is-success is-light">Done</span></td>
									<td>
										<button class="button is-small is-info edit-data" data-id="1e4b8eb1-c4c9-4623-9ba0-d7adc23065a1">Edit</button>
									</td>
								</tr>
								<tr>
									<td><a href="#" class="detail-data" data-id="c0b91168-a3a5-490f-b238-5b8c3e4aabae">Lorem ipsum</a></td>
									<td>Lorem ipsum</td>
									<td>Lorem ipsum</td>
									<td><span class="tag is-rounded is-small is-warning is-light">Mark as Done</span></td>
									<td>
										<button class="button is-small is-info edit-data" data-id="c0b91168-a3a5-490f-b238-5b8c3e4aabae">Edit</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<script>
			document.getElementById('add').addEventListener('click', ()=> {
				window.location = "form.html";
			});

			const editData = document.getElementsByClassName('edit-data');
			for (let edit of editData) {
				edit.addEventListener('click', ()=> {
					// console.log(edit.getAttribute('data-id'));
					window.location = `form.html?id=${edit.getAttribute('data-id')}`;
				});
			}

			const detailData = document.getElementsByClassName('detail-data');
			for (let detail of detailData) {
				detail.addEventListener('click', ()=> {
					// console.log(detail.getAttribute('data-id'));
					window.location = `detail.html?id=${detail.getAttribute('data-id')}`;
				});
			}
		</script>
  </body>
</html>