<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
		<section class="section">
			<div class="container is-fullwidth">
				<div class="columns is-centered">
					<div class="column is-8">
						<h1 class="title">Task</h1>
						<div class="buttons is-right mt-3">
							<button id="add" class="button is-small is-success mt-2 mb-2">Add</button>
						</div>
					</div>
				</div>
				<div class="columns is-centered">
					<div class="column is-8">
						<table class="table is-stripped is-hoverable is-narrow is-fullwidth">
							<thead>
								<tr>
									<th>Task</th>
									<th>Assign</th>
									<th>Deadline</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="task-list"></tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<script>
			let listTask = (id, task, deadline, assign, status) => {
				let statusTask;
				let statusColor;
				let btnFinish;
				if (status == 0) {
					statusTask = "Pending";
					statusColor = "is-warning";
					btnFinish = `<button class="button is-small is-success edit-status" data-id="${id}">Finish</button>`;
				} else {
					statusTask = "Done";
					statusColor = "is-success";
					btnFinish = "";
				}
				return 	`<tr>
							<td><a href="#" class="detail-data" data-id="${id}">${task}</a></td>
							<td>${assign}</td>
							<td>${deadline}</td>
							<td><span class="tag is-rounded is-small ${statusColor} is-light">${statusTask}</span></td>
							<td>
								<button class="button is-small is-info edit-data" data-id="${id}">Edit</button>
								${btnFinish}
							</td>
						</tr>`
			};

			let xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					let getData = JSON.parse(xhttp.responseText);
					let data = getData.data;
					data.forEach(e => {
						let date = new Date(e.deadline);
          
          				let monthDeadline = date.getMonth().toString().length < 2 ? `0${date.getMonth()+1}` : date.getMonth()+1;
          				let dateDeadline = date.getDate().toString().length < 2 ? `0${date.getDate()}` : date.getDate();

						let deadline = [dateDeadline, monthDeadline, date.getFullYear()].join('-');
						document.getElementById("task-list").innerHTML += listTask(e.id, e.task, deadline, e.assign, e.status);
					});

					const editData = document.getElementsByClassName('edit-data');
					for (let edit of editData) {
						edit.addEventListener('click', ()=> {
							window.location = `/form?id=${edit.getAttribute('data-id')}`;
						});
					}

					const editStatus = document.getElementsByClassName('edit-status');
					for (let edit of editStatus) {
						edit.addEventListener('click', ()=> {
							updateStatus(edit.getAttribute('data-id'))
						});
					}

					const updateStatus = (id)=> {
						let xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
							if (this.readyState == 4 && this.status == 200) {
								window.location = `/`;
								alert('update status task succes!');
							}
						};
					
						xhttp.open("PUT", "http://localhost:8080/api/v1/status/"+id, true);
						xhttp.send();
					}

					const detailData = document.getElementsByClassName('detail-data');
					for (let detail of detailData) {
						detail.addEventListener('click', ()=> {
							window.location = `/detail?id=${detail.getAttribute('data-id')}`;
						});
					}
				}
			};

			xhttp.open("GET", "http://localhost:8080/api/v1/tasks", true);
			xhttp.send();
		</script>

		<script>
			document.getElementById('add').addEventListener('click', ()=> {
				window.location = "/form";
			});
		</script>
	</body>
</html>