{{ template "layout" . }}
{{ define "main" }}
	<div class="columns is-centered">
		<div class="column is-8">
			<h1 class="title">{{ .content }}</h1>
			<div class="buttons is-right mt-3">
				<button id="add" class="button is-small is-success mt-2 mb-2">Add</button>
			</div>
		</div>
	</div>
	<div class="columns is-centered">
		<div class="column is-8">
			<table class="table is-stripped is-hoverable is-narrow is-fullwidth">
				<thead>
					<tr>
						<th>Task</th>
						<th>Assign</th>
						<th>Deadline</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="task-list"></tbody>
			</table>
		</div>
	</div>
	<script>
		document.getElementById('add').addEventListener('click', ()=> {
			window.location = "/form";
		});
		list();
	</script>
{{ end }}